<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>IG - TP</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">


	</head>
	<body>
    <div class="container">
      <h1>TP - Informatique Graphique</h1>
      <h2 class="mb-2">ThreeJS + Socket.io</h2>

      <form id="log" class="rounded-lg shadow-lg mb-5 p-3">
        <div class="form-group">
          <label for="pseudo">Pseudo</label>
          <input type="text" class="form-control" id="pseudo" value="Anon" required>
        </div>
        <div class="form-group">
          <label for="clr">Couleur</label>
          <input type="color" class="form-control" id="clr" value="#ff0000">
        </div>

        <div class="form-group">
            <label for="map">Sélectionnez une carte : </label>
            <div class="row row-cols-5"> 

            <% for(let i = 1;i<=5;i++){%>
              <div class="col">
                <div id="server<%= i %>" class="card <% if(i===2){ %>border-success <% } %>">
                  <div class="card-body">
                    <h5 class="card-title text-center">Serveur <%= i %></h5>
                  </div>
                  <img src="/img/map_<%= i %>.png" class="card-img-top">
                </div>
              </div>
            <%} %>
        
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Rejoindre</button>
      </form>



      <h2>Notes</h2>

      <p> Démonstration des composants <a href="/test/">ici</a></p>

      <p>Rapport : <a href="/Rapport_Nicolas_Wallet.pdf">PDF</a></p>
    </div>



    <div id="stats" class="stats d-none">
			Inc : <span class="r" id="inc">0</span> <br>
			Nombre de tour : <span class="r"><span id="nbtour">0</span> / <span id="nb_max_tour"></span></span><br>
      Dernier tour : <span class="r" id="last_time">Aucun</span><br>
      Meilleur tour : <span class="r" id="best_time">Aucun</span>
		</div>
    
  <div id="main_gui" class="d-none">
    <span id="speed"></span>
    <span id="item"></span>
  </div>

    <div id='gui' class="gui d-none">
      
      
<button type="button" class="btn btn-sm btn-block btn-light help" data-toggle="modal" data-target="#Menu">
  Aide <i class="ri-question-line"></i>

</button>

      <p>Liste des joueurs :</p>
      <ul id="list_user">
      </ul>
    </div>




<!-- Modal -->
<div class="modal fade" id="Menu" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Aide</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Carte</h3>
            <a class="btn btn btn-outline-warning" href="./">Changer de carte</a>

        <h3>Controls</h3>

        <p>
        <span class="btn btn-outline-secondary" id="key_forward"></span> <i class="ri-arrow-up-s-line"></i> Avancer <br><br>
        <span class="btn btn-outline-secondary" id="key_left"></span> <i class="ri-arrow-left-s-line"></i> Gauche <br><br>
        <span class="btn btn-outline-secondary" id="key_right"></span>  <i class="ri-arrow-right-s-line"></i> Droite <br><br>
        <span class="btn btn-outline-secondary" id="key_backward"></span>  <i class="ri-arrow-down-s-line"></i> Reculer <br><br>

        <span class="btn btn-outline-secondary" id="key_camera"></span> pour changer de caméra<br>
        
        <span class="btn btn-outline-secondary" id="key_respawn"></span> pour respawn au dernier checkpoints<br>
        <span class="btn btn-outline-secondary" id="key_restart"></span> pour recommencer à zero<br>

        <span class="btn btn-outline-secondary" id="key_players"></span> pour afficher les autres joueurs<br>
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>



    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


		<script src="three.js-dev/three.js"></script>

		<script src="three.js-dev/MTLLoader.js"></script>
    <script src="three.js-dev/OBJLoader.js"></script>

    <script src="three.js-dev/OrbitControls.js"></script>

  <script src="/js/const.js"></script>

    <script src="js/stats.js"></script>

    <script src="js/Segment.js"></script>
    <script src="js/Map.js"></script>
    <script src="js/terrain.js"></script>
    <script src="js/Environnement.js"></script>
    <script src="js/const_map.js"></script>
    
  <script src="js/server.js"></script>


    <script src="sketch.js"></script>



	</body>
</html>