<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="../css/documentation.css">
    </head>
    <body>

        <div class="parent">
            <div class="nav"><canvas id="debug-canvas" width="25" height="25"></canvas> <%- include('inc/nav') %> </div>
            <div class="div2" id="frame"> </div>
        </div>

        <%- include(`${path}`); %>
        
        
        <%- include('inc/list_script'); %>

        <script src="/js/<%= script %>.js"></script>
    </body>
</html>