<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>

    <link rel="stylesheet" href="/css/documentation.css">
    <link rel="stylesheet" href="/css/jquery.terminal-2.15.2.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="/js/jquery.terminal-2.15.2.js"></script>
</head>
<body>


    <div class="parent">
        <div class="nav" id="terminal"></div>
        <div class="div2" id="frame"> </div>
    </div>
  
</body>
<script src="/three.js-dev/three.js"></script>
<script src="/three.js-dev/OrbitControls.js"></script>
<script src="/js/stats.js"></script>

<script src="/js/const.js"></script>

<script src="/js/init_map.js"></script>
<script src="/js/Segment.js"></script>
<script src="/js/Map.js"></script>


<script>

let value = [];
let map;

    let type = 'road';

    
    $('#terminal').terminal({
        hello: function(what) {
            this.echo('Hello, ' + what +
                      '. Wellcome to this terminal.');
        },
        type: function(element){
            if(element=='road')
                this.echo('Type de route changé pour :'+element)
            else
                this.echo(element+' n\'est pas un type de route')
        },
        linear: function(length){
                //this.echo('Segment crée');
                value.push('lr-'+length);
                render_()
        },
        cp: function(){
                //this.echo('Segment crée');
                value.push('cp');
                render_()
        },
        curve: function(length,side){
                //this.echo('Segment crée');
                value.push('cr-'+length+'-'+side[0]);
                render_()
        },
        end: function(){
                //this.echo('Segment crée');
                value.push('e');
                render_()
        },
        render: function(){
            this.echo('Rendu');
            render_()
        },
        new: function(){

        },
        exit: function(){
            window.location.replace("http://localhost:3000/test/");
        }
    }, {
        greetings: 'Map Editor',
    });

    function render_(){
        document.querySelector('#frame').innerHTML=""
        init();
        animate();
        map = new Carte(value);
        map.render();
    }
    </script>
</html>