<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>

    <link rel="stylesheet" href="/css/documentation.css">
    <link rel="stylesheet" href="/css/jquery.terminal-2.15.2.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="/js/jquery.terminal-2.15.2.js"></script>
</head>
<body>


    <div class="parent">
        <div class="nav" id="terminal"></div>
        <div class="div2" id="frame"></div>
    </div>
  
</body>

<%- include('inc/list_script'); %>

<script>

let value = [];

    let type = 'road';
    
    $('#terminal').terminal({
        help: function() {
            this.echo('Bienvenue dans l\'éditeur de carte.');

            this.echo('Voici la liste des commandes disponibles : ');
            this.echo('Entre crochets sont les paramètres , aucun n\'est optionnel' );

            this.echo('linear [length]');
            this.echo('curve [size] [r-l]');
            this.echo('bezier [length] [diff]');
            this.echo('boost [length]');
            this.echo('cp');

            this.echo('');

            this.echo('pop');
            this.echo('save');
            this.echo('load [nom]');
        },
        type: function(element){
            if(element=='road')
                this.echo('Type de route changé pour :'+element)
            else
                this.echo(element+' n\'est pas un type de route')
        },
        linear: function(length){
                //this.echo('Segment crée');
                value.push('linear '+length);
                render_()
        },
        cp: function(){
                //this.echo('Segment crée');
                value.push('checkpoint');
                render_()
        },
        curve: function(length,side){
                //this.echo('Segment crée');
                value.push('curve '+length+' '+side[0]);
                render_()
        },
        bezier: function(length,diff){
                //this.echo('Segment crée');
                value.push('bezier '+length+' '+diff);
                render_()
        },
        boost: function(length){
                //this.echo('Segment crée');
                value.push('boost '+length);
                render_()
        },
        end: function(){
                //this.echo('Segment crée');
                value.push('e');
                render_()
        },
        pop: function(){
            value.pop()
            render_()
        },
        render: function(){
            this.echo('Rendu');
            render_()
        },
        new: function(){
            this.echo('Rendu');
            render_()
        },
        load: function(name){
            switch (name) {
                case 1:
                    render_(map_1)
                    this.echo('Chargement...');
                    break;
                case 2:
                    render_(map_2)
                    this.echo('Chargement...');
                    break;
                case 3:
                    render_(map_3)
                    this.echo('Chargement...');
                    break;
                case 4:
                    render_(map_4)
                    this.echo('Chargement...');
                    break;
                case 5:
                    render_(map_5)
                    this.echo('Chargement...');
                    break;
                
                default:
                    this.echo('Carte non connue')
                    break;
            }
        },
        save: function(){
            this.echo('-- A COPIER --')
            this.echo("'" + value.join("',\n'") + "'")
            this.echo('-- FIN  --')
        },
        
        new: function(){
            value = []
            document.querySelector('#frame').innerHTML=""
            init();
            animate();
        },
        exit: function(){
            location.replace(location.href.replace('/editor',''));
        }
    }, {
        greetings: 'Map Editor - Tapez \'help\' pour voir la liste des commandes',
    });

    function render_(rend){
        document.querySelector('#frame').innerHTML=""
        init();
        animate();
        if(rend){
            value = rend
        }
        map = new Carte(value);
        map.render();
    }
    </script>
</html>